---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Per-Page:
      - '50'
      Page:
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      Etag:
      - W/"4642ec3d0b34807fa3dcb57d6ebca932"
    body:
      encoding: UTF-8
      string: '[{"id":526,"amount":-123.0,"created_at":"2021-04-13T09:34:52-03:00","description":"Upgrade
        de Plano","kind":"plan_fee","processed_at":null,"sent_at":null,"status":"unprocessed","credit_at":"2021-04-13"}]'
  recorded_at: Tue, 13 Apr 2021 17:18:55 GMT
recorded_with: VCR 6.0.0
