---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/transactions?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Total:
      - '2'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '490'
      Etag:
      - '"e047e1305c63d330cccbfb633803636e"'
    body:
      encoding: UTF-8
      string: '[{"id":59,"amount":9.01,"created_at":"2015-02-10","description":"Boleto
        Bancário 688","kind":"credit","processed_at":null,"sent_at":null,"status":"unprocessed","credit_at":"2015-02-19"},{"id":60,"amount":-5.0,"created_at":"2015-02-10","description":"Boleto
        Bancário 688","kind":"fee","processed_at":null,"sent_at":null,"status":"unprocessed","credit_at":"2015-02-19"}]'
  recorded_at: Tue, 10 Feb 2015 07:38:35 GMT
recorded_with: VCR 2.9.3
