---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/transactions?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Total:
      - '2'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '467'
      Etag:
      - W/"2e1210e97d24b7cdbb9fc07792ae2aed"
    body:
      encoding: UTF-8
      string: '[{"id":59,"amount":9.01,"created_at":"2015-02-10","description":"Boleto
        Bancário 688","kind":"credit","processed_at":"2015-02-19","sent_at":null,"status":"processed","credit_at":"2015-02-19"},{"id":60,"amount":-5.0,"created_at":"2015-02-10","description":"Boleto
        Bancário 688","kind":"fee","processed_at":"2015-02-19","sent_at":null,"status":"processed","credit_at":"2015-02-19"}]'
  recorded_at: Sun, 08 Mar 2015 19:55:31 GMT
recorded_with: VCR 2.9.3
