---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/bank_billet_remittances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Per-Page:
      - '50'
      Page:
      - ''
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '59'
      Etag:
      - W/"be008f0e923787ce661f24d6a2ace6f7"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":433979,"our_code":"1001","occurrence":"01","remittance_id":null,"bank_billet_id":472531,"bank_billet_account_id":659,"processed_at":null,"occurrence_detail":"Entrada
        de Título","created_at":"2022-02-22T14:30:39-03:00"},{"id":433978,"our_code":"1001","occurrence":"01","remittance_id":null,"bank_billet_id":472530,"bank_billet_account_id":659,"processed_at":null,"occurrence_detail":"Entrada
        de Título","created_at":"2022-02-22T14:30:28-03:00"},{"id":433976,"our_code":"1001","occurrence":"01","remittance_id":null,"bank_billet_id":472528,"bank_billet_account_id":659,"processed_at":null,"occurrence_detail":"Entrada
        de Título","created_at":"2022-02-22T14:27:02-03:00"},{"id":433975,"our_code":"1001","occurrence":"01","remittance_id":null,"bank_billet_id":472526,"bank_billet_account_id":659,"processed_at":null,"occurrence_detail":"Entrada
        de Título","created_at":"2022-02-22T14:27:02-03:00"},{"id":433974,"our_code":"1001","occurrence":"01","remittance_id":null,"bank_billet_id":472527,"bank_billet_account_id":659,"processed_at":null,"occurrence_detail":"Entrada
        de Título","created_at":"2022-02-22T14:27:02-03:00"},{"id":433973,"our_code":"1001","occurrence":"01","remittance_id":null,"bank_billet_id":472525,"bank_billet_account_id":659,"processed_at":null,"occurrence_detail":"Entrada
        de Título","created_at":"2022-02-22T14:26:58-03:00"}]'
  recorded_at: Tue, 22 Feb 2022 17:30:41 GMT
recorded_with: VCR 6.0.0
