---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billet_remittances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://sandbox.boletosimples.com.br/api/v1/bank_billet_remittances?page=2>;
        rel="next"
      Per-Page:
      - '50'
      Page:
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '36'
      Etag:
      - W/"61a58e3e0b8ce637f9a1a286ee2a6a70"
    body:
      encoding: UTF-8
      string: '[{"id":348220,"our_code":"1001","occurrence":"01","remittance_id":null,"bank_billet_id":382372,"bank_billet_account_id":3547,"processed_at":null,"occurrence_detail":"Entrada
        de Título","created_at":"2021-04-13T14:18:55-03:00"},{"id":348219,"our_code":"1001","occurrence":"01","remittance_id":null,"bank_billet_id":382371,"bank_billet_account_id":3547,"processed_at":null,"occurrence_detail":"Entrada
        de Título","created_at":"2021-04-13T14:18:48-03:00"},{"id":348218,"our_code":"1001","occurrence":"01","remittance_id":null,"bank_billet_id":382370,"bank_billet_account_id":3547,"processed_at":null,"occurrence_detail":"Entrada
        de Título","created_at":"2021-04-13T14:18:47-03:00"},{"i[...]
