---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/customer_subscriptions?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: '{"customer_subscription":{"customer_id":""}}'
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '497'
    body:
      encoding: UTF-8
      string: '{"errors":{"customer":["não pode ficar em branco"],"bank_billet_account":["não
        pode ficar em branco"],"amount":["não pode ficar em branco"],"description":["não
        pode ficar em branco"]}}'
  recorded_at: Mon, 15 Aug 2016 19:12:05 GMT
recorded_with: VCR 2.9.3
