---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/customer_subscriptions
    body:
      encoding: UTF-8
      string: '{"customer_subscription":{"customer_id":""}}'
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '975'
    body:
      encoding: UTF-8
      string: '{"errors":{"customer_person_name":["não pode ficar em branco"],"customer_cnpj_cpf":["não
        pode ficar em branco"],"customer_zipcode":["não pode ficar em branco"],"amount":["não
        pode ficar em branco"],"customer_address":["não pode ficar em branco"],"customer_neighborhood":["não
        pode ficar em branco"],"customer_city_name":["não pode ficar em branco"],"customer_state":["não
        está incluído na lista"]}}'
  recorded_at: Tue, 13 Apr 2021 17:19:00 GMT
recorded_with: VCR 6.0.0
