---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billet_discharges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Per-Page:
      - '50'
      Page:
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '35'
      Etag:
      - W/"83d94cd19dfdfbbdcd3423e405beb4de"
    body:
      encoding: UTF-8
      string: '[{"id":19810,"occurrence":"10","date_of_occurrence":"2020-03-20","discharge_id":3192,"bank_billet_id":null,"occurrence_error":"00","line_parsed":{"iof":"0","paid_at":"2020-03-20","cnpj_cpf":"78796613000141","discount":"0","bank_rate":"30","credit_at":"2020-03-20","error_code":"00","event_type":"10","our_number":"04958535","billet_fine":"0","paid_amount":"0","other_credit":"0","value_rebate":"0","agency_number":"6519","credit_amount":"0","account_number":"90009999","conta_cobranca":"90009999","control_number":"","banco_recebedor":"033","document_number":"495853","agencia_recebedora":"1651"},"line_raw":{"line_raw":"1027879661300014165199000999990009999                         04958535                                     510200320495853    0495853500          12111900000000300350331651901000000000003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
        N 200320                 SOLUCOES DIGITAIS L 00000000000000000000000000000000000000000C           325000002"},"processed_at":"2021-04-13T14:18:50-03:00","occurrence_detail":"Título
        Baixado Conforme Instrução Ou Por Título Protestado 11 = Em Ser","occurrence_error_detail":null,"our_occurrence":"2074","bank_billet_account_id":null,"bank_number":"033","created_at":"2021-04-13T14:18:50-03:00","kind":"400"},{"id":19809,"occurrence":"10","date_of_occurrence":"2020-03-20","discharge_id":3191,"bank_billet_id":null,"occurrence_error":"00","line_parsed":{"iof":"0","paid_at":"2020-03-20","cnpj_cpf":"78796613000141","discount":"0","bank_rate":"30","credit_at":"2020-03-20","error_code":"00","event_type":"10","our_number":"04958535","billet_fine":"0","paid_amount":"0","other_credit":"0","value_rebate":"0","agency_number":"6519","credit_amount":"0","account_number":"90009999","conta_cobranca":"9000999[...]
