---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/discharges?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '498'
      Total:
      - '1'
      Etag:
      - W/"368fef8232d9c141edd54608bcff2c22"
    body:
      encoding: UTF-8
      string: '[{"id":1,"filename":"cnab0904-1.ret","processed_at":"2015-04-17","created_via_api":true,"status":"unprocessed","discharge_transactions":[]}]'
  recorded_at: Mon, 24 Aug 2015 18:03:13 GMT
recorded_with: VCR 2.9.3
