---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/discharges/3192
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/discharges/3192
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      Etag:
      - W/"e077f7fad4f8c1d2e95d90396adb0b16"
    body:
      encoding: UTF-8
      string: '{"id":3192,"filename":"discharge.RET","processed_at":null,"created_via_api":true,"status":"unprocessed","bank_billet_account_id":null,"created_via_integration":null,"bank_billet_discharges":[]}'
  recorded_at: Tue, 13 Apr 2021 17:18:47 GMT
recorded_with: VCR 6.0.0
