---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/discharges/3322
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api-sandbox.kobana.com.br/api/v1/discharges/3322
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '51'
      Etag:
      - W/"85e7c42e5e1252758b6dfcf2a94c1429"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":3322,"filename":"discharge.RET","processed_at":"2022-02-22T14:30:48-03:00","created_via_api":true,"status":"unrecognized","bank_billet_account_id":null,"created_via_integration":null,"bank_billet_discharges":[{"id":21255,"occurrence":"10","date_of_occurrence":"2020-03-20","discharge_id":3322,"bank_billet_id":null,"occurrence_error":"00","line_parsed":{"iof":"0","paid_at":"2020-03-20","cnpj_cpf":"78796613000141","discount":"0","bank_rate":"30","credit_at":"2020-03-20","error_code":"00","event_type":"10","our_number":"0495853","billet_fine":"0","paid_amount":"0","other_credit":"0","value_rebate":"0","agency_number":"6519","credit_amount":"0","account_number":"90009999","conta_cobranca":"90009999","control_number":"","banco_recebedor":"033","document_number":"495853","agencia_recebedora":"1651","processed_our_number_raw":"04958535"},"line_raw":{"line_raw":"1027879661300014165199000999990009999                         04958535                                     510200320495853    0495853500          12111900000000300350331651901000000000003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
        N 200320                 SOLUCOES DIGITAIS L 00000000000000000000000000000000000000000C           325000002"},"processed_at":"2022-02-22T14:30:48-03:00","occurrence_detail":"Título
        Baixado Conforme Instrução Ou Por Título Protestado 11 = Em Ser","occurrence_error_detail":null,"our_occurrence":"2074","bank_billet_account_id":null,"bank_number":"033","created_at":"2022-02-22T14:30:48-03:00","kind":"400"}]}'
  recorded_at: Tue, 22 Feb 2022 17:30:50 GMT
recorded_with: VCR 6.0.0
