---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billets?access_token=9e616874dbf0674ace28170a748c9258ac1f0f87e0a544441ebffe976645bc09
    body:
      encoding: UTF-8
      string: '{"bank_billet":{"amount":9.01,"customer_address":"Rua quinhentos","customer_address_complement":"Sala
        4","customer_address_number":"111","customer_city_name":"Rio de Janeiro","customer_cnpj_cpf":"012.345.678-90","customer_email":"cliente@bom.com","customer_neighborhood":"Sao
        Francisco","customer_person_name":"Joao da Silva","customer_person_type":"individual","customer_phone_number":"2112123434","customer_state":"RJ","customer_zipcode":"12312-123","description":"Despesas
        do contrato 0012","expire_at":"2014-01-01","notification_url":"http://example.com.br/notify"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/bank_billets/113
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9e7977e69b5bea8f22b513c20958aaee"'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
    body:
      encoding: UTF-8
      string: '{"id":113,"expire_at":"2014-01-01","paid_at":null,"description":"Despesas
        do contrato 0012","status":"generating","shorten_url":null,"customer_person_type":"individual","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"012.345.678-90","customer_address":"Rua quinhentos","customer_state":"RJ","customer_neighborhood":"Sao
        Francisco","customer_zipcode":"12312-123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@bom.com","notification_url":"http://example.com.br/notify","send_email_on_creation":null,"created_via_api":true,"customer_city_name":"Rio
        de Janeiro","paid_amount":0.0,"amount":9.01}'
  recorded_at: Fri, 24 Oct 2014 20:11:15 GMT
recorded_with: VCR 2.9.3
