---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/customers?access_token=9e616874dbf0674ace28170a748c9258ac1f0f87e0a544441ebffe976645bc09
    body:
      encoding: UTF-8
      string: '{"customer":{"person_name":"Joao da Silva","cnpj_cpf":"012.345.678-90","email":"cliente@bom.com","address":"Rua
        quinhentos","city_name":"Rio de Janeiro","state":"RJ","neighborhood":"bairro","zipcode":"12312-123","address_number":"111","address_complement":"Sala
        4","phone_number":"2112123434"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/customers/32
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4ed60beb3944fda9bb1e0c5d319c4bb3"'
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
    body:
      encoding: UTF-8
      string: '{"id":32,"city_name":"Rio de Janeiro","person_name":"Joao da Silva","address":"Rua
        quinhentos","address_complement":"Sala 4","address_number":"111","mobile_number":null,"cnpj_cpf":"012.345.678-90","email":"cliente@bom.com","neighborhood":"bairro","person_type":"individual","phone_number":"2112123434","zipcode":"12312-123","mobile_local_code":null,"state":"RJ"}'
  recorded_at: Fri, 24 Oct 2014 17:59:16 GMT
recorded_with: VCR 2.9.3
