---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v1/bank_billets
    body:
      encoding: UTF-8
      string: '{"bank_billet":{"amount":9.1}}'
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '18000'
      X-Ratelimit-Remaining:
      - '17969'
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":{"customer_person_name":["não pode ficar em branco"],"customer_cnpj_cpf":["não
        é um CNPJ ou CPF válido"],"customer_zipcode":["não pode ficar em branco"],"expire_at":["não
        pode ficar em branco","não é uma data válida"],"customer_address":["não pode
        ficar em branco"],"customer_neighborhood":["não pode ficar em branco"],"customer_city_name":["não
        pode ficar em branco"],"customer_state":["não está incluído na lista"]}}'
  recorded_at: Tue, 22 Feb 2022 17:30:27 GMT
recorded_with: VCR 6.0.0
