---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billets?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: bank_billet%5Bamount%5D=9.1
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '493'
    body:
      encoding: UTF-8
      string: '{"errors":{"expire_at":["não pode ficar em branco","não é uma data
        válida"],"customer_person_name":["não pode ficar em branco"],"customer_cnpj_cpf":["não
        pode ficar em branco","não é um CPNJ ou CPF válido"],"description":["não pode
        ficar em branco"],"customer_zipcode":["não pode ficar em branco"],"amount":["está
        em um formato de moeda inválido"]}}'
  recorded_at: Tue, 10 Feb 2015 14:29:16 GMT
recorded_with: VCR 2.9.3
