---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/customers?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: '{"customer":{"person_name":""}}'
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '455'
    body:
      encoding: UTF-8
      string: '{"errors":{"person_name":["não pode ficar em branco"],"cnpj_cpf":["não
        pode ficar em branco"],"zipcode":["não pode ficar em branco"]}}'
  recorded_at: Sun, 08 Mar 2015 19:59:20 GMT
recorded_with: VCR 2.9.3
