---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/customers?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: customer%5Bperson_name%5D=
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '485'
    body:
      encoding: UTF-8
      string: '{"errors":{"person_name":["não pode ficar em branco"],"cnpj_cpf":["não
        pode ficar em branco"],"zipcode":["não pode ficar em branco"]}}'
  recorded_at: Tue, 10 Feb 2015 14:37:39 GMT
recorded_with: VCR 2.9.3
