---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v1/customers
    body:
      encoding: UTF-8
      string: '{"customer":{"person_name":""}}'
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '18000'
      X-Ratelimit-Remaining:
      - '17943'
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":{"person_name":["não pode ficar em branco"],"zipcode":["não
        pode ficar em branco"],"address":["não pode ficar em branco"],"neighborhood":["não
        pode ficar em branco"],"city_name":["não pode ficar em branco"],"cnpj_cpf":["não
        é um CNPJ ou CPF válido"],"state":["não está incluído na lista"]}}'
  recorded_at: Tue, 22 Feb 2022 17:34:25 GMT
recorded_with: VCR 6.0.0
