---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v1/customers
    body:
      encoding: UTF-8
      string: '{"customer":{"person_name":"Maria José","cnpj_cpf":"84.232.027/0001-08","email":"cliente@example.com","address":"Rua
        quinhentos","city_name":"Rio de Janeiro","state":"RJ","neighborhood":"bairro","zipcode":"12312-123","address_number":"111","address_complement":"Sala
        4","phone_number":"2112123434"}}'
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api-sandbox.kobana.com.br/api/v1/customers/93343
      X-Ratelimit-Limit:
      - '18000'
      X-Ratelimit-Remaining:
      - '17945'
      Etag:
      - W/"1db2e1b192053f54b3b632644ef709b0"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":93343,"city_name":"Rio de Janeiro","person_name":"Maria José","nickname":null,"address":"Rua
        quinhentos","address_complement":"Sala 4","address_number":"111","mobile_number":null,"cnpj_cpf":"84.232.027/0001-08","email":"cliente@example.com","neighborhood":"bairro","phone_number":"2112123434","zipcode":"12312123","mobile_local_code":null,"notes":null,"state":"RJ","created_via_api":true,"email_cc":null,"contact_person":null,"truncated_address":"Rua
        quinhentos, 111","external_code":null,"tags":[],"tag_list":null,"custom_data":null}'
  recorded_at: Tue, 22 Feb 2022 17:34:24 GMT
recorded_with: VCR 6.0.0
