---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/customers?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: '{"customer":{"person_name":"Maria José","cnpj_cpf":"811.536.151-85","email":"cliente@bom.com","address":"Rua
        quinhentos","city_name":"Rio de Janeiro","state":"RJ","neighborhood":"bairro","zipcode":"12312-123","address_number":"111","address_complement":"Sala
        4","phone_number":"2112123434"}}'
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/customers/65
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '458'
      Etag:
      - W/"f198f003d0efa5f1e98adab6fe1a196f"
    body:
      encoding: UTF-8
      string: '{"id":65,"city_name":"Rio de Janeiro","person_name":"Maria José","address":"Rua
        quinhentos","address_complement":"Sala 4","address_number":"111","mobile_number":null,"cnpj_cpf":"811.536.151-85","email":"cliente@bom.com","neighborhood":"bairro","person_type":"individual","phone_number":"2112123434","zipcode":"12312-123","mobile_local_code":null,"state":"RJ","created_via_api":true}'
  recorded_at: Sun, 08 Mar 2015 19:59:17 GMT
recorded_with: VCR 2.9.3
