---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/installments?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: '{"installment":{"person_name":""}}'
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '491'
    body:
      encoding: UTF-8
      string: '{"errors":{"customer":["não pode ficar em branco"],"bank_billet_account":["não
        pode ficar em branco"],"cycle":["não pode ficar em branco","não está incluído
        na lista"],"total":["não pode ficar em branco"],"start_at":["não pode ficar
        em branco"],"description":["não pode ficar em branco"],"amount":["deve ser
        maior que 0"]}}'
  recorded_at: Mon, 15 Aug 2016 19:16:32 GMT
recorded_with: VCR 2.9.3
