---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v1/installments
    body:
      encoding: UTF-8
      string: '{"installment":{"amount":"1.120,4","cycle":"monthly","start_at":"2022-09-15","total":"3","description":"Hospedagem","customer_address":"Rua
        quinhentos","customer_address_complement":"Sala 4","customer_address_number":"111","customer_city_name":"Rio
        de Janeiro","customer_cnpj_cpf":"18.033.842/0001-05","customer_email":"cliente@example.com","customer_neighborhood":"Sao
        Francisco","customer_person_name":"Joao da Silva","customer_person_type":"individual","customer_phone_number":"2112123434","customer_state":"RJ","customer_zipcode":"12312-123"}}'
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api-sandbox.kobana.com.br/api/v1/installments/15265
      X-Ratelimit-Limit:
      - '18000'
      X-Ratelimit-Remaining:
      - '17948'
      Etag:
      - W/"8b27d89d18fc8528ff3c7b7ae0f9290b"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":15265,"amount":1120.4,"cycle":"monthly","start_at":"2022-09-15","end_at":"2022-11-15","instructions":null,"customer_id":93340,"description":"Hospedagem","created_at":"2022-02-22T14:30:51-03:00","updated_at":"2022-02-22T14:30:51-03:00","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"18.033.842/0001-05","customer_address":"Rua
        quinhentos","customer_state":"RJ","customer_neighborhood":"Sao Francisco","customer_zipcode":"12312123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@example.com","customer_city_name":"Rio
        de Janeiro","customer_email_cc":null,"customer_ignore_email":null,"customer_ignore_sms":null,"customer_mobile_local_code":null,"customer_mobile_number":null,"customer_nickname":null,"customer_notes":null,"created_via_api":true,"total":3,"bank_billet_account_id":659,"status":"created","fine_for_delay":null,"fine_type":0,"fine_percentage":null,"fine_value":null,"days_for_fine":null,"late_payment_interest":null,"interest_type":0,"interest_daily_value":null,"interest_daily_percentage":null,"interest_monthly_percentage":null,"days_for_interest":null,"discount_type":0,"days_for_discount":null,"discount_value":null,"discount_percentage":null,"bank_billet_layout_id":null,"url":null,"bank_billet_ids":[],"bank_billets":[],"notes":null,"payment_count":1,"tags":[],"tag_list":null,"prevent_registration":false,"divergent_payment_type":null,"divergent_payment_value_type":null,"divergent_payment_maximum_value":null,"divergent_payment_minimum_value":null,"divergent_payment_maximum_percentage":null,"divergent_payment_minimum_percentage":null,"divergent_payment_limit":null,"days_for_second_discount":null,"second_discount_percentage":null,"second_discount_value":null,"days_for_third_discount":null,"third_discount_percentage":null,"third_discount_value":null,"days_for_revoke":null,"days_for_sue":null,"days_for_negativation":null,"interest_percentage":null,"interest_value":null,"interest_days_type":0,"customer_contact_person":null,"custom_attachment_name":null,"guarantor_name":null,"guarantor_cnpj_cpf":null,"guarantor_address_number":null,"guarantor_neighborhood":null,"guarantor_phone_number":null,"guarantor_city_name":null,"guarantor_state":null,"guarantor_zipcode":null,"guarantor_address":null,"guarantor_address_complement":null,"document_number":null,"document_date":null,"document_type":"02"}'
  recorded_at: Tue, 22 Feb 2022 17:30:51 GMT
recorded_with: VCR 6.0.0
