---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/installments?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: '{"installment":{"customer_id":"11","bank_billet_account_id":"12","amount":"1.120,4","cycle":"monthly","start_at":"2016-09-15","total":"3","description":"Hospedagem"}}'
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '493'
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/installments/2
      Etag:
      - W/"ff834c39ca2ba0ac0941d7fbde7ac5c5"
    body:
      encoding: UTF-8
      string: '{"id":2,"amount":1120.4,"cycle":"monthly","start_at":"2016-09-15","end_at":"2016-11-16","instructions":null,"customer_id":11,"description":"Hospedagem","created_at":"2016-08-15","updated_at":"2016-08-15","created_via_api":true,"total":3,"bank_billet_account_id":12,"status":"created"}'
  recorded_at: Mon, 15 Aug 2016 19:16:30 GMT
recorded_with: VCR 2.9.3
