---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billet_accounts?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: bank_billet_account%5Bbank_contract_slug%5D=
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '495'
    body:
      encoding: UTF-8
      string: '{"errors":{"agency_number":["não pode ficar em branco"],"account_number":["não
        pode ficar em branco"],"bank_contract_slug":["não pode ficar em branco"]}}'
  recorded_at: Wed, 01 Apr 2015 17:47:56 GMT
recorded_with: VCR 2.9.3
