---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billet_accounts
    body:
      encoding: UTF-8
      string: '{"bank_billet_account":{"bank_contract_slug":""}}'
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '979'
    body:
      encoding: UTF-8
      string: '{"errors":{"bank_contract_slug":["não pode ficar em branco"],"beneficiary_name":["não
        pode ficar em branco"],"beneficiary_cnpj_cpf":["não pode ficar em branco"],"beneficiary_address_street":["não
        pode ficar em branco"],"beneficiary_address_city":["não pode ficar em branco"],"beneficiary_address_neighborhood":["não
        pode ficar em branco"],"beneficiary_address_state":["não pode ficar em branco"],"beneficiary_address_zipcode":["não
        pode ficar em branco"]}}'
  recorded_at: Tue, 13 Apr 2021 17:18:51 GMT
recorded_with: VCR 6.0.0
