---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billet_accounts?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: bank_billet_account%5Baccount_digit%5D=8&bank_billet_account%5Baccount_number%5D=3666&bank_billet_account%5Bagency_digit%5D=3&bank_billet_account%5Bagency_number%5D=4327&bank_billet_account%5Bbank_contract_slug%5D=sicoob-02&bank_billet_account%5Bextra1_length%5D=1234567&bank_billet_account%5Bnext_our_number%5D=1
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/bank_billet_accounts/1
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '497'
      Etag:
      - W/"e1004aeca30742932a4d8da7b82dba83"
    body:
      encoding: UTF-8
      string: '{"id":1,"bank_contract_slug":"sicoob-02","next_our_number":"0000001","agency_number":"4327","agency_digit":"3","account_number":"00003666","account_digit":"8","extra1":null,"extra1_digit":null,"extra2":null,"extra2_digit":null}'
  recorded_at: Wed, 01 Apr 2015 17:47:54 GMT
recorded_with: VCR 2.9.3
