---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/customer_subscriptions/4?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '494'
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/customer_subscriptions/4
      Etag:
      - W/"fc1c5eee3b0e21014ab204a47d329184"
    body:
      encoding: UTF-8
      string: '{"id":4,"amount":1120.4,"cycle":"monthly","next_billing":"2016-09-15","end_at":null,"instructions":null,"customer_id":11,"description":"Hospedagem","created_at":"2016-08-15","updated_at":"2016-08-15","created_via_api":true,"days_in_advance":7,"bank_billet_account_id":12}'
  recorded_at: Mon, 15 Aug 2016 19:12:07 GMT
recorded_with: VCR 2.9.3
