---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Per-Page:
      - '50'
      Page:
      - ''
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '47'
      Etag:
      - W/"445dd4e72878a664a4a35ec2cc27317f"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":3,"city_name":"Rio de Janeiro","person_name":"Boleto Simples","nickname":"","address":"Av.
        Presidente Vargas","address_complement":"sala 1716","address_number":"633","mobile_number":"81214248","cnpj_cpf":"05.813.794/0001-26","email":"kivanio+sb@boletosimples.com.br","neighborhood":"Centro","phone_number":"6581214248","zipcode":"20071004","mobile_local_code":"65","notes":null,"state":"RJ","created_via_api":false,"email_cc":null,"contact_person":null,"truncated_address":null,"external_code":null,"tags":[],"tag_list":null,"custom_data":null},{"id":21,"city_name":"Rio
        de Janeiro","person_name":"Joao da Silva","nickname":null,"address":"Rua quinhentos","address_complement":"Sala
        4","address_number":"111","mobile_number":null,"cnpj_cpf":"496.956.856-17","email":"cliente@bom.com","neighborhood":"Sao
        Francisco","phone_number":"2112123434","zipcode":"12312-123","mobile_local_code":null,"notes":null,"state":"RJ","created_via_api":false,"email_cc":null,"contact_person":null,"truncated_address":null,"external_co[...]
