---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Per-Page:
      - '50'
      Page:
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '32'
      Etag:
      - W/"667a693af60595f15bccf9f8562b85cd"
    body:
      encoding: UTF-8
      string: '[{"id":80702,"city_name":"Rio de Janeiro","person_name":"Maria José","nickname":null,"address":"Rua
        quinhentos","address_complement":"Sala 4","address_number":"111","mobile_number":null,"cnpj_cpf":"811.536.151-85","email":"cliente@example.com","neighborhood":"bairro","phone_number":"2112123434","zipcode":"12312123","mobile_local_code":null,"notes":null,"state":"RJ","created_via_api":true,"email_cc":null,"contact_person":null,"truncated_address":"Rua
        quinhentos, 111","external_code":null,"tags":[],"tag_list":"","custom_data":null},{"id":80703,"city_name":"Rio
        de Janeiro","person_name":"Joao da Silva","nickname":null,"address":"Rua quinhentos","address_complement":"Sala
        4","address_number":"111","mobile_number":null,"cnpj_cpf":"18.033.842/0001-05","email":"cliente@example.com","neighborhood":"Sao
        Francisco","phone_number":"2112123434","zipcode":"12312123","mobile_local_code":null,"notes":null,"state":"RJ","created_via_api":true,"email_cc":null,"contact_person":null,"truncated_address":"Rua
   [...]
