---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/customers?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: customer%5Baddress%5D=Rua+quinhentos&customer%5Baddress_complement%5D=Sala+4&customer%5Baddress_number%5D=111&customer%5Bcity_name%5D=Rio+de+Janeiro&customer%5Bcnpj_cpf%5D=223.886.692-27&customer%5Bemail%5D=cliente%40bom.com&customer%5Bneighborhood%5D=bairro&customer%5Bperson_name%5D=Maria+Jos%C3%A9&customer%5Bphone_number%5D=2112123434&customer%5Bstate%5D=RJ&customer%5Bzipcode%5D=12312-123
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/customers/58
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '491'
      Etag:
      - '"612dd528622dac3914fc64a8619b184a"'
    body:
      encoding: UTF-8
      string: '{"id":58,"city_name":"Rio de Janeiro","person_name":"Maria José","address":"Rua
        quinhentos","address_complement":"Sala 4","address_number":"111","mobile_number":null,"cnpj_cpf":"223.886.692-27","email":"cliente@bom.com","neighborhood":"bairro","person_type":"individual","phone_number":"2112123434","zipcode":"12312-123","mobile_local_code":null,"state":"RJ","created_via_api":true}'
  recorded_at: Tue, 10 Feb 2015 07:35:45 GMT
recorded_with: VCR 2.9.3
