---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/customers/80825
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/customers/80825
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '33'
      Etag:
      - W/"bf421a7739e6fb5b4a0a6574f14546dc"
    body:
      encoding: UTF-8
      string: '{"id":80825,"city_name":"Rio de Janeiro","person_name":"Maria José","nickname":null,"address":"Rua
        quinhentos","address_complement":"Sala 4","address_number":"111","mobile_number":null,"cnpj_cpf":"54.872.822/0001-91","email":"cliente@example.com","neighborhood":"bairro","phone_number":"2112123434","zipcode":"12312123","mobile_local_code":null,"notes":null,"state":"RJ","created_via_api":true,"email_cc":null,"contact_person":null,"truncated_address":"Rua
        quinhentos, 111","external_code":null,"tags":[],"tag_list":"","custom_data":null}'
  recorded_at: Tue, 13 Apr 2021 17:19:10 GMT
recorded_with: VCR 6.0.0
