---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/imports/customer_subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Per-Page:
      - '50'
      Page:
      - ''
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '71'
      Etag:
      - W/"e1d3d8d2e233041ff07873654985aefe"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":1279,"created_rows":0,"enqueued_at":null,"started_at":null,"finished_at":null,"processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":null,"processed_rows":0,"total_rows":null,"updated_rows":0,"source_file_name":"customer_subscriptions.csv","source_file_size":239,"status":"pending","created_via_api":true},{"id":1277,"created_rows":0,"enqueued_at":null,"started_at":"2022-02-22T14:27:22-03:00","finished_at":"2022-02-22T14:27:22-03:00","processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":"ERR
        max number of clients reached","processed_rows":0,"total_rows":null,"updated_rows":0,"source_file_name":"customer_subscriptions.csv","source_file_size":239,"status":"fatal_error","created_via_api":true},{"id":1024,"created_rows":0,"enqueued_at":"2021-04-09T09:50:[...]
