---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/imports/customer_subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Per-Page:
      - '50'
      Page:
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      Etag:
      - W/"7bea2f7cdd976a9961d0ec4b143e478f"
    body:
      encoding: UTF-8
      string: '[{"id":1053,"created_rows":0,"enqueued_at":"2021-04-13T14:18:16-03:00","started_at":null,"finished_at":null,"processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":null,"processed_rows":0,"total_rows":null,"updated_rows":0,"source_file_name":"customer_subscriptions.csv","source_file_size":239,"status":"enqueued","created_via_api":true},{"id":1051,"created_rows":0,"enqueued_at":"2021-04-13T11:43:57-03:00","started_at":"2021-04-13T11:46:14-03:00","finished_at":"2021-04-13T11:46:16-03:00","processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":[],"processed_rows":0,"total_rows":0,"updated_rows":0,"source_file_name":"customer_subscriptions.csv","source_file_size":239,"status":"done","created_via_api":true},{"id":1050,"created_rows":0,"enqueued_at":"2021-04-13T11:39:58-03:00","started_at":"2021[...]
