---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/imports/customer_subscriptions/1279
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api-sandbox.kobana.com.br/api/v1/imports/customer_subscriptions/1279
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '70'
      Etag:
      - W/"792b77874b2044afb755dcf78adbe6e5"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":1279,"created_rows":0,"enqueued_at":null,"started_at":null,"finished_at":null,"processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":null,"processed_rows":0,"total_rows":null,"updated_rows":0,"source_file_name":"customer_subscriptions.csv","source_file_size":239,"status":"pending","created_via_api":true}'
  recorded_at: Tue, 22 Feb 2022 17:30:31 GMT
recorded_with: VCR 6.0.0
