---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/imports/customer_subscriptions/7?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/imports/customer_subscriptions/7
      Etag:
      - W/"b6f1ce958b789e8877e205646365bdf0"
    body:
      encoding: UTF-8
      string: '{"id":7,"created_rows":0,"records_count":null,"enqueued_at":"2017-06-28T03:47:18-03:00","started_at":"2017-06-28T03:47:19-03:00","finished_at":"2017-06-28T03:47:19-03:00","processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":[],"processed_rows":0,"total_rows":0,"updated_rows":0,"source_content_type":"text/plain","source_file_name":"customer_subscriptions.csv","source_file_size":239,"source_updated_at":"2017-06-28T03:47:18-03:00","status":"done"}'
  recorded_at: Wed, 28 Jun 2017 06:47:24 GMT
recorded_with: VCR 3.0.3
