---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billets?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Total:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '498'
      Etag:
      - '"fddb5188c17af9114fceb0085acd04e7"'
    body:
      encoding: UTF-8
      string: '[{"id":7,"expire_at":"2014-04-01","paid_at":null,"description":"Testes
        da GEM","status":"opened","shorten_url":"http://staging.bole.to/2l8v7y1i","customer_person_type":"individual","customer_person_name":"Renata
        Celi","customer_cnpj_cpf":"103.326.587-08","customer_address":"Av. Rui Barbosa","customer_state":"RJ","customer_neighborhood":"São
        Francisco","customer_zipcode":"24360-440","customer_address_number":"457","customer_address_complement":"301","customer_phone_number":"21994912476","customer_email":"contato@rafael.adm.br","notification_url":null,"send_email_on_creation":null,"created_via_api":false,"customer_city_name":"Niterói","paid_amount":0.0,"amount":10.0,"parcel":1,"parent_id":null,"all_parcels_ids":[7]}]'
  recorded_at: Tue, 10 Feb 2015 04:53:17 GMT
recorded_with: VCR 2.9.3
