---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billets?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://sandbox.boletosimples.com.br/api/v1/bank_billets?access_token=BOLETOSIMPLES_ACCESS_TOKEN&page=5>;
        rel="last", <https://sandbox.boletosimples.com.br/api/v1/bank_billets?access_token=BOLETOSIMPLES_ACCESS_TOKEN&page=2>;
        rel="next"
      Total:
      - '112'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '463'
      Etag:
      - W/"9e2d03ef9ae3b3f4fc3e329c90b3141a"
    body:
      encoding: UTF-8
      string: '[{"id":851,"expire_at":"2014-01-01","paid_at":null,"description":"Despesas
        do contrato 0012","status":"opened","shorten_url":"http://staging.bole.to/nirjavew","customer_person_type":"individual","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"012.345.678-90","customer_address":"Rua quinhentos","customer_state":"RJ","customer_neighborhood":"Sao
        Francisco","customer_zipcode":"12312-123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@example.com","notification_url":"http://example.com.br/notify","send_email_on_creation":null,"created_via_api":true,"customer_city_name":"Rio
        de Janeiro","paid_amount":0.0,"amount":9.01},{"id":850,"expire_at":"2014-01-01","paid_at":null,"description":"Despesas
        do contrato 0012","status":"canceled","shorten_url":"http://staging.bole.to/niriavev","customer_person_type":"individual","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"012.345.678-90","customer_address":"Rua quinhentos","customer_state":"RJ","customer_neighborhood":"Sao
        Francisco","customer_zipcode":"12312-123","customer_address_number":"111","customer_address_complement":"Sala
 [...]
