---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billets/688?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '497'
      Etag:
      - '"eed3cdf840ee3dc0cbc1d216eff4af07"'
    body:
      encoding: UTF-8
      string: '{"id":688,"expire_at":"2014-01-01","paid_at":null,"description":"Despesas
        do contrato 0012","status":"opened","shorten_url":"http://staging.bole.to/ni1zav8m","customer_person_type":"individual","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"012.345.678-90","customer_address":"Rua quinhentos","customer_state":"RJ","customer_neighborhood":"Sao
        Francisco","customer_zipcode":"12312-123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@bom.com","notification_url":"http://example.com.br/notify","send_email_on_creation":null,"created_via_api":true,"customer_city_name":"Rio
        de Janeiro","paid_amount":0.0,"amount":9.01,"parcel":1,"parent_id":null,"all_parcels_ids":[688]}'
  recorded_at: Tue, 10 Feb 2015 07:21:18 GMT
- request:
    method: put
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billets/688/cancel?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      [...]
