---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/bank_billet_accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Per-Page:
      - '50'
      Page:
      - ''
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '67'
      Etag:
      - W/"0d216390e489b1e45d12ca2effce665c"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":659,"bank_contract_slug":"caixa-rg","next_our_number":86,"agency_number":"2342","agency_digit":"2","account_number":"0012432","account_digit":"1","extra1":"0123322","extra1_digit":null,"extra2":null,"extra2_digit":null,"extra3":"0567888","beneficiary_name":"Kivanio
        Pereira Barbosa","beneficiary_cnpj_cpf":"000.233.771-19","beneficiary_address":"Rua
        Quatro, 9, 78058-330","name":"Caixa Econômica Federal RG  CC: 0012432-1 0123322","status":"active","bank_contract":{"bank":{"code":"caixa","name":"Caixa
        Econômica Federal","number":"104"},"slug":"caixa-rg","code":"1","sufix":"rg","variation":null,"name":"1
        - Com Registro"},"integration":false,"created_via_api":false,"homologated_at":"2017-05-24T10:11:14-03:00","next_remittance_number":3,"configuration":null,"default":true,"custom_name":"Caixa
        Econômica Federal RG  CC: 0012432-1 123322","kind":"cnab400","beneficiary_address_street":null,"beneficiary_address_street_number":null,"beneficiary_address_complement":null,"beneficiary_address_city":null,"beneficiary_address_neighborhood":null,"beneficiary_address_state":null,"beneficiary_address_zipcode":null,"allow_expiration_on_weekends":false},{"id":2898,"bank_contract_slug":"sofisa-bs-121","next_our_number":5,"agency_number":"1234","agency_digit":"4","account_number":"000423423","account_digit":"1","extra1":"2341234","extra1_digit":null,"extra2":null,"extra2_digit":null,"extra3":"00000000002341241234","beneficiary_name":"Kivanio
        Pereira Barbosa","beneficiary_cnpj_cpf":"000.233.771-19","beneficiary_address":"Rua
        Quatro, 9, 78058330","name":"Sofisa 121  CC: 000423423-1 2341234","status":"active","bank_contract":{[...]
