---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billet_accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Per-Page:
      - '50'
      Page:
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      Etag:
      - W/"5e44eb383cb6312c8ddc693defeed0ca"
    body:
      encoding: UTF-8
      string: '[{"id":3547,"bank_contract_slug":"itau-bs-109","next_our_number":70,"agency_number":"2332","agency_digit":"3","account_number":"12312","account_digit":"2","extra1":null,"extra1_digit":null,"extra2":null,"extra2_digit":null,"extra3":null,"beneficiary_name":"J
        Calçados","beneficiary_cnpj_cpf":"74.766.527/0001-68","beneficiary_address":"Praça
        dos Três Poderes, 171,  - Zona Cívico-Administrativa, Brasília - DF, 70165900","name":"Itaú
        109  CC: 12312-2 ","status":"active","bank_contract":{"bank":{"code":"itau","name":"Itaú","number":"341"},"slug":"itau-bs-109","code":"109","sufix":"bs-109","variation":null,"name":"109"},"integration":false,"created_via_api":false,"homologated_at":"2021-04-09T09:43:18-03:00","next_remittance_number":3,"configuration":null,"default":true,"custom_name":"Itaú
        109  CC: 12312-2 ","kind":"cnab400","beneficiary_address_street":"Praça dos
        Três Poderes","beneficiary_address_street_number":"171","beneficiary_address_complement":"","beneficiary_address_city":"Brasília","beneficiary_address_neighborhood":"Zona
        Cívico-Administrativa","beneficiary_address_state":"DF","beneficiary_address_zipcode":"70165900","allow_expiration_on_weekends":false},{"id":3548,"bank_contract_slug":"caixa-rg","next_our_number":1,"agency_number":"1231","agency_digit":"1","account_number":"3123123","account_digit":"3","extra1":"1234134","extra1_digit":null,"extra2":null,"extra2_digit":null,"extra3":"4324123","beneficiary_name":"J
        Calçados S.A.","beneficiary_cnpj_cpf":"74.766.527/0001-68","beneficiary_address":"Praça
        dos Três Poderes, ,  - Zona Cívico-Administrativa, Brasília - DF, 70165900","name":"Caixa
        Econômica Federal RG  CC:[...]
