---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billet_accounts/1?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '496'
      Etag:
      - W/"e1004aeca30742932a4d8da7b82dba83"
    body:
      encoding: UTF-8
      string: '{"id":1,"bank_contract_slug":"sicoob-02","next_our_number":"0000001","agency_number":"4327","agency_digit":"3","account_number":"00003666","account_digit":"8","extra1":null,"extra1_digit":null,"extra2":null,"extra2_digit":null}'
  recorded_at: Wed, 01 Apr 2015 17:47:55 GMT
recorded_with: VCR 2.9.3
