---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billet_accounts/3562
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/bank_billet_accounts/3562
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      Etag:
      - W/"bf3d5ab0ca5f9e0058f0cce47f121d91"
    body:
      encoding: UTF-8
      string: '{"id":3562,"bank_contract_slug":"sicoob-02","next_our_number":1,"agency_number":"4327","agency_digit":"3","account_number":"00003666","account_digit":"8","extra1":"1234567","extra1_digit":null,"extra2":null,"extra2_digit":null,"extra3":null,"beneficiary_name":"XPTO
        S.A.","beneficiary_cnpj_cpf":"22.622.867/0001-11","beneficiary_address":"Rua
        S, ,  - Moema, São Paulo - SP, 04524030","name":"Bancoob/Sicoob 02  CC: 00003666-8
        1234567","status":"pending","bank_contract":{"bank":{"code":"sicoob","name":"Bancoob/Sicoob","number":"756"},"slug":"sicoob-02","code":"2","sufix":"02","variation":null,"name":"1/02
        - Simples Sem Registro"},"integration":false,"created_via_api":true,"homologated_at":null,"next_remittance_number":1,"configuration":null,"default":false,"custom_name":"Bancoob/Sicoob
        02  CC: 3666-8 1234567","kind":"cnab400","beneficiary_address_street":"Rua
        S","beneficiary_address_street_number":null,"beneficiary_address_complement":null,"beneficiary_address_city":"São
        Paulo","beneficiary_address_neighborhood":"Moema","beneficiary_address_state":"SP","beneficiary_address_zipcode":"04524030","allow_expiration_on_weekends":false}'
  recorded_at: Tue, 13 Apr 2021 17:18:54 GMT
recorded_with: VCR 6.0.0
