---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billet_payments?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Total:
      - '1'
      Etag:
      - W/"37c99ac154561f1a274f018895045b86"
    body:
      encoding: UTF-8
      string: '[{"id":553,"bank_billet_id":133853,"bank_billet_account_id":12,"paid_at":"2018-12-14","paid_amount":131.31,"bank_rate":null,"paid_bank":null,"paid_agency":null,"created_at":"2018-12-14","our_number":"0000314","customer_person_name":"Kivanio
        Barbosa","expire_at":"2018-12-14","amount":131.31}]'
  recorded_at: Fri, 14 Dec 2018 19:23:00 GMT
recorded_with: VCR 4.0.0
