---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Per-Page:
      - '50'
      Page:
      - ''
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '55'
      Etag:
      - W/"f14d7a1265d44328a6788f918b3c2237"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":2355473,"code":"import.processed","data":{"object":{"id":1278,"created_rows":0,"enqueued_at":null,"started_at":"2022-02-22
        14:27:22 -0300","finished_at":"2022-02-22 14:27:23 -0300","processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":"ERR
        max number of clients reached","processed_rows":0,"total_rows":null,"updated_rows":0,"source_file_name":"customers.csv","source_file_size":190,"status":"fatal_error","created_via_api":true},"changes":{"status":["started","fatal_error"],"import_errors":[null,"ERR
        max number of clients reached"],"updated_at":["2022-02-22 14:27:22 -0300","2022-02-22
        14:27:23 -0300"],"finished_at":[null,"2022-02-22 14:27:23 -0300"]}},"occurred_at":"2022-02-22T14:27:23-03:00","bank_billet_account_id":null,"resource_owner_id":1278,"created_at":"2022-02-22T14:28:11-03:00","updated_at":"2022-02-22T14:28:11-03:00"},{"id":2355472,"code":"bank_billet_remittance.created","data":{"object":{"id":433976,"our_code":"1001","occurrence":"01","remittance_id":null,"bank_billet_id":472528,"bank_billet_account_id":659,"processed_at":null,"occurrence_detail":"Entrada
        de Título","created_at":"2022-02-22T14:27:02-03:00"}},"occurred_at":"2022-02-22T14:27:02-03:00","bank_billet_account_id":659,"resource_owner_id":433976,"created_at":"2022-02-22T14:28:11-03:00","updated_at":"2022-02-22T14:28:11-03:00"},{"id":2355471,"code":"import.processed","data":{"object":{"id":1277,"created_rows":0,"enqueued_at":null,"started_at":"2022-02-22
        14:27:22 -0300","finished_at":"2022-02-22 14:27:22 -0300","processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":"ERR
        max number of clients reached","processed_rows":0,"total_rows":null,"updated_rows":0,"source_file_name":"customer_subscriptions.csv","source_file_size":239,"status":"fatal_error","created_via_api":true},"changes":{"status":["started","fatal_error"],"import_errors":[null,"ERR
        max number of clients reached"],"updated_at":["2022-02-22 14:27:22 -0300","2022-02-22
        14:27:22 -0300"],"finished_at":[null,"2022-02-22 14:27:22 -0300"]}},"occurred_at":"2022-02-22T14:27:22-03:00","bank_billet_account_id":null,"resource_owner_id":1277,"created_at":"2022-02-22T14:28:11-03:00","updated_at":"2022-02-22T14:28:11-03:00"},{"id":2355470,"code":"installment.generated","data":{"object":{"id":15264,"amount":1120.4,"cycle":"monthly","start_at":"2022-09-15","end_at":"2022-11-15","instructions":null,"customer_id":93340,"description":"Hospedagem","created_at":"2022-02-22T14:27:01-03:00","updated_at":"2022-02-22T14:27:02-03:00","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"18.033.842/0001-05","customer_address":"Rua
        quinhentos","customer_state":"RJ","customer_neighborhood":"Sao Francisco","customer_zipcode":"12312123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@example.com","customer_city_name":"Rio
        de Janeiro","customer_email_cc":null,"customer_ignore_email":null,"customer_ignore_sms":null,"customer_mobile_local_code":null,"customer_mobile_number":null,"customer_nickname":null,"customer_notes":null,"created_via_api":true,"total":3,"bank_billet_account_id":659,"status":"generated","fine_for_delay":null,"fine_type":0,"fine_percentage":null,"fine_value":null,"days_for_fine":null,"late_payment_interest":null,"interest_type":0,"interest_daily_value":null,"interest_daily_percentage":null,"interest_monthly_percentage":null,"days_for_interest":null,"discount_type":0,"days_for_discount":null,"discount_value":null,"discount_percentage":null,"bank_billet_layout_id":null,"url":"https://sandbox.bole.to/3/rdvrov/carne","bank_billet_ids":[472526,472528,472527],"bank_billets":[{"id":472526,"expire_at":"2022-09-15","paid_at":null,"description":"Hospedagem","status":"opened","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"18.033.842/0001-05","customer_address":"Rua
        quinhentos","customer_state":"RJ","customer_neighborhood":"Sao Francisco","customer_zipcode":"12312123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@example.com","customer_email_cc":null,"customer_ignore_email":null,"customer_ignore_sms":null,"customer_mobile_local_code":null,"customer_mobile_number":null,"customer_nickname":null,"customer_notes":null,"created_via_api":false,"customer_city_name":"Rio
        de Janeiro","paid_amount":0.0,"amount":1120.4,"url":"https://sandbox.bole.to/3/rdvrov","formats":{"default":"https://sandbox.bole.to/3/rdvrov","png":"https://sandbox.bole.to/3/rdvrov.png","pdf":"https://sandbox.bole.to/3/rdvrov.pdf","boleto_hibrido":"https://sandbox.bole.to/3/rdvrov/boleto_hibrido","boleto_pix":"https://sandbox.bole.to/3/rdvrov/boleto_pix","barcode":"https://sandbox.bole.to/3/rdvrov/barcode","envelope":"https://sandbox.bole.to/3/rdvrov/envelope","letter":"https://sandbox.bole.to/3/rdvrov/letter","line":"https://sandbox.bole.to/3/rdvrov/line","recibo":"https://sandbox.bole.to/3/rdvrov/recibo","carne":"https://sandbox.bole.to/3/rdvrov/carne"},"meta":null,"fine_for_delay":null,"fine_type":0,"fine_percentage":null,"fine_value":null,"days_for_fine":null,"late_payment_interest":null,"interest_type":0,"interest_daily_value":null,"interest_daily_percentage":null,"interest_monthly_percentage":null,"days_for_interest":null,"discount_type":0,"discount_limit_date":null,"discount_value":null,"discount_percentage":null,"days_for_revoke":null,"notes":null,"payment_count":1,"bank_billet_account_id":659,"beneficiary_name":"Kivanio
        Pereira Barbosa","beneficiary_cnpj_cpf":"000.233.771-19","beneficiary_address":"Rua
        Quatro, 9, 78058-330","beneficiary_assignor_code":"0001/123322-0","guarantor_name":null,"guarantor_cnpj_cpf":null,"payment_place":"Pagável
        em qualquer banco até a data de vencimento.","instructions":null,"document_date":null,"document_type":"02","document_number":null,"acceptance":"N","processed_our_number":"14000000000000082-0","processed_our_number_raw":"140000000000000820","bank_contract_slug":"caixa-rg","agency_number":"2342","agency_digit":"2","account_number":"0012432","account_digit":"1","extra1":"0123322","extra1_digit":null,"extra2":null,"extra2_digit":null,"line":"10491.23324
        20000.100048 00000.008235 3 91090000112040","our_number":"000000000000082","customer_subscription_id":null,"installment_total":3,"installment_number":1,"installment_id":15264,"carne_url":"https://sandbox.bole.to/3/rdvrov/carne","bank_billet_layout_id":null,"created_at":"2022-02-22T14:27:01-03:00","updated_at":"2022-02-22T14:27:02-03:00","tags":[],"tag_list":null,"document_type_label":"DM","addons":null,"ignore_email":false,"ignore_sms":false,"sue_code":null,"revoke_code":null,"first_instruction":null,"second_instruction":null,"guarantor_address_number":null,"guarantor_neighborhood":null,"guarantor_phone_number":null,"guarantor_city_name":null,"guarantor_state":null,"guarantor_zipcode":null,"guarantor_address":null,"guarantor_address_complement":null,"barcode":"10493910900001120401233220000100040000000823","registered_at":null,"prevent_registration":false,"customer_id":93340,"control_number":null,"divergent_payment_type":null,"divergent_payment_value_type":null,"divergent_payment_maximum_value":null,"divergent_payment_minimum_value":null,"divergent_payment_maximum_percentage":null,"divergent_payment_minimum_percentage":null,"divergent_payment_limit":null,"days_for_discount":null,"days_for_second_discount":null,"second_discount_percentage":null,"second_discount_value":null,"days_for_third_discount":null,"third_discount_percentage":null,"third_discount_value":null,"days_for_sue":null,"days_for_negativation":null,"interest_percentage":null,"interest_value":null,"interest_days_type":0,"customer_contact_person":null,"custom_attachment_name":null,"split_payment":false,"dispatch_type":1,"charge_type":1,"custom_data":null,"issued_at":"2022-02-22T14:27:01-03:00","shorten_url":"https://sandbox.bole.to/3/rdvrov","pix_enabled":false,"pix_qrcode":null,"password_protected_mode":null,"revoked_at":null},{"id":472528,"expire_at":"2022-11-16","paid_at":null,"description":"Hospedagem","status":"opened","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"18.033.842/0001-05","customer_address":"Rua
        quinhentos","customer_state":"RJ","customer_neighborhood":"Sao Francisco","customer_zipcode":"12312123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@example.com","customer_email_c[...]
