---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/events?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '496'
      Link:
      - <https://sandbox.boletosimples.com.br/api/v1/events?access_token=BOLETOSIMPLES_ACCESS_TOKEN&page=4>;
        rel="last", <https://sandbox.boletosimples.com.br/api/v1/events?access_token=BOLETOSIMPLES_ACCESS_TOKEN&page=2>;
        rel="next"
      Total:
      - '89'
      Etag:
      - W/"a028eaa2eeae1ff5004373945583ae8e"
    body:
      encoding: UTF-8
      string: '[{"id":2560,"code":"bank_billet.generated","data":{"object":{"id":1489,"expire_at":"2015-07-24","paid_at":null,"description":"Despesas
        do contrato 0012","status":"opened","shorten_url":"https://bole.to/3/wqol","customer_person_type":"individual","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"012.345.678-90","customer_address":"Rua quinhentos","customer_state":"RJ","customer_neighborhood":"Sao
        Francisco","customer_zipcode":"12312-123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@example.com","created_via_api":true,"customer_city_name":"Rio
        de Janeiro","paid_amount":0.0,"amount":9.01,"url":"https://bole.to/3/wqol","formats":{"png":"https://bole.to/3/wqol.png","pdf":"https://bole.to/3/wqol.pdf"},"notification_url":"","meta":null,"fine_for_delay":null,"late_payment_interest":null}},"occurred_at":"2015-08-24T14:43:37.000-03:00"},{"id":2559,"code":"bank_billet.created","data":{"object":{"id":1489,"expire_at":"2015-07-24","paid_at":null,"description":"Despesas
        do contrato 0012","status":"generating","shorten_url":"https://bole.to/3/wqol","customer_person_type":"individual","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"012.345.678-90","customer_address":"Rua quinhentos","customer_state":"RJ","customer_neighborhood":"Sao
        Francisco","customer_zipcode":"12[...]
