---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/imports/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Per-Page:
      - '50'
      Page:
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      Etag:
      - W/"b2fa3b7aea3069b3f91a25409d0357da"
    body:
      encoding: UTF-8
      string: '[{"id":1054,"created_rows":0,"enqueued_at":"2021-04-13T14:18:22-03:00","started_at":null,"finished_at":null,"processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":null,"processed_rows":0,"total_rows":null,"updated_rows":0,"source_file_name":"customers.csv","source_file_size":190,"status":"enqueued","created_via_api":true},{"id":1052,"created_rows":0,"enqueued_at":"2021-04-13T11:44:07-03:00","started_at":"2021-04-13T11:46:17-03:00","finished_at":"2021-04-13T11:46:18-03:00","processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":[],"processed_rows":0,"total_rows":0,"updated_rows":0,"source_file_name":"customers.csv","source_file_size":190,"status":"done","created_via_api":true},{"id":1049,"created_rows":0,"enqueued_at":"2021-04-13T11:39:53-03:00","started_at":"2021-04-13T11:39:[...]
