---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/imports/customers/1054
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/imports/customers/1054
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      Etag:
      - W/"b06778fa549b3ad7eef78bfe88e83b61"
    body:
      encoding: UTF-8
      string: '{"id":1054,"created_rows":0,"enqueued_at":"2021-04-13T14:18:22-03:00","started_at":null,"finished_at":null,"processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":null,"processed_rows":0,"total_rows":null,"updated_rows":0,"source_file_name":"customers.csv","source_file_size":190,"status":"enqueued","created_via_api":true}'
  recorded_at: Tue, 13 Apr 2021 17:18:23 GMT
recorded_with: VCR 6.0.0
