---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/imports/customers/1280
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api-sandbox.kobana.com.br/api/v1/imports/customers/1280
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '53'
      Etag:
      - W/"cb53b753cfe3d8e4376db065eac4d757"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":1280,"created_rows":0,"enqueued_at":null,"started_at":null,"finished_at":null,"processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":null,"processed_rows":0,"total_rows":null,"updated_rows":0,"source_file_name":"customers.csv","source_file_size":190,"status":"pending","created_via_api":true}'
  recorded_at: Tue, 22 Feb 2022 17:30:47 GMT
recorded_with: VCR 6.0.0
