---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/webhook_deliveries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api-sandbox.kobana.com.br/api/v1/webhook_deliveries?page=2>; rel="next"
      Per-Page:
      - '50'
      Page:
      - ''
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '64'
      Etag:
      - W/"b45286d2a75cec94373233caf7bed406"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":724188,"uid":"5555437c-428a-4d02-9f7b-9cc3b8cf4254","url":"http://requestb.in/1gsu9nc1","duration":16,"request_headers":{"X-BoletoSimples-Event":"import.processed","X-Hub-Signature":"sha1=05feb4057a109aaabb9459ec60aee930ce999d50","X-BoletoSimples-Delivery-Id":"5555437c-428a-4d02-9f7b-9cc3b8cf4254","X-BoletoSimples-Environment":"sandbox","User-Agent":"BoletoSimples-Robot
        (sandbox)","Content-Type":"application/json"},"request_payload":{"object":{"id":1278,"created_rows":0,"enqueued_at":null,"started_at":"2022-02-22
        14:27:22 -0300","finished_at":"2022-02-22 14:27:23 -0300","processed_at":null,"failed_to_create_rows":0,"failed_to_update_rows":0,"import_errors":"ERR
        max number of clients reached","processed_rows":0,"total_rows":null,"updated_rows":0,"source_file_name":"customers.csv","source_file_size":190,"status":"fatal_error","created_via_api":true},"changes":{"status":["started","fatal_error"],"import_errors":[null,"ERR
        max number of clients reached"],"updated_at":["2022-02-22 14:27:22 -0300","2022-02-22
        14:27:23 -0300"],"finished_at":[null,"2022-02-22 14:27:23 -0300"]},"event_code":"import.processed","webhook":{"id":53,"url":"http://requestb.in/1gsu9nc1","first_try":"2022-02-22T14:29:46-03:00"}},"request_error":null,"response_body":"\u003c!DOCTYPE
        html\u003e\n\u003c!--[if lt IE 7]\u003e \u003chtml class=\"no-js ie6 oldie\"
        lang=\"en-US\"\u003e \u003c![endif]--\u003e\n\u003c!--[if IE 7]\u003e    \u003chtml
        class=\"no-js ie7 oldie\" lang=\"en-US\"\u003e \u003c![endif]--\u003e\n\u003c!--[if
        IE 8]\u003e    \u003chtml class=\"no-js ie8 oldie\" lang=\"en-US\"\u003e \u003c![endif]--\u003e\n\u003c!--[if
        gt IE 8]\u003e\u003c!--\u003e \u003chtml class=\"no-js\" lang=\"en-US\"\u003e
        \u0[...]
