---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/webhook_deliveries?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '491'
      Total:
      - '1'
      Etag:
      - W/"821177355d204f38ed3af15a2aecde23"
    body:
      encoding: UTF-8
      string: '[{"id":1434,"uid":"476750a1-bbdf-4e2c-b821-ce80d916af1d","url":"https://example.com","duration":194,"request_headers":{"X-BoletoSimples-Event":"ping","X-Hub-Signature":"sha1=fb0ba87d0416cfaadc762b7296f4a2edeeb3501b","X-BoletoSimples-Delivery-Id":"476750a1-bbdf-4e2c-b821-ce80d916af1d","X-BoletoSimples-Environment":"sandbox","User-Agent":"BoletoSimples-Robot
        (sandbox)","Content-Type":"application/json"},"request_payload":{"event_code":"ping","webhook":{"id":48,"url":"https://example.com"}},"request_error":null,"response_body":"\u003c!doctype
        html\u003e\n\u003chtml\u003e\n\u003chead\u003e\n    \u003ctitle\u003eExample
        Domain\u003c/title\u003e\n\n    \u003cmeta charset=\"utf-8\" /\u003e\n    \u003cmeta
        http-equiv=\"Content-type\" content=\"text/html; charset=utf-8\" /\u003e\n    \u003cmeta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\" /\u003e\n    \u003cstyle
        type=\"text/css\"\u003e\n    body {\n        background-color: #f0f0f2;\n        margin:
        0;\n [...]
