---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/installments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Per-Page:
      - '50'
      Page:
      - ''
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '49'
      Etag:
      - W/"0ba95fbcc1a8f4dc419c8e9da79740d0"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":15265,"amount":1120.4,"cycle":"monthly","start_at":"2022-09-15","end_at":"2022-11-15","instructions":null,"customer_id":93340,"description":"Hospedagem","created_at":"2022-02-22T14:30:51-03:00","updated_at":"2022-02-22T14:30:51-03:00","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"18.033.842/0001-05","customer_address":"Rua
        quinhentos","customer_state":"RJ","customer_neighborhood":"Sao Francisco","customer_zipcode":"12312123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@example.com","customer_city_name":"Rio
        de Janeiro","customer_email_cc":null,"customer_ignore_email":null,"customer_ignore_sms":null,"customer_mobile_local_code":null,"customer_mobile_number":null,"customer_nickname":null,"customer_notes":null,"created_via_api":true,"total":3,"bank_billet_account_id":659,"status":"processed","fine_for_delay":null,"fine_type":0,"fine_percentage":null,"fine_value":null,"days_for_fine":null,"late_payment_interest":null,"interest_type":0,"interest_daily_value":null,"interest_daily_percentage":null,"interest_monthly_percentage":null,"days_for_interest":null,"discount_type":0,"days_for_discount":null,"discount_value":null,"discount_percentage":null,"bank_billet_layout_id":null,"url":"https://sandbox.bole.to/3/qdoweq/carne","bank_billet_ids":[472533,472532,472534],"bank_billets":[{"id":472533,"expire_at":"2022-10-17","paid_at":null,"description":"Hospedagem","status":"opened","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"18.033.842/0001-05","customer_address":"Rua
        quinhentos","customer_state":"RJ","customer_neighborhood":"Sao Francisco","customer_zipcode":"12312123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@example.com","customer_email_cc":null,"customer_ignore_email":null,"customer_ignore_sms":null,"customer_mobile_local_code":null,"customer_mobile_number":null,"customer_nickname":null,"customer_notes":null,"created_via_api":false,"customer_city_name":"Rio
        de Janeiro","paid_amount":0.0,"amount":1120.4,"url":"https://sandbox.bole.to/3/kekdrr","formats":{"default":"https://sandbox.bole.to/3/kekdrr","png":"https://sandbox.bole.to/3/kekdrr.png","pdf":"https://sandbox.bole.to/3/kekdrr.pdf","boleto_hibrido":"https://sandbox.bole.to/3/kekdrr/boleto_hibrido","boleto_pix":"https://sandbox.bole.to/3/kekdrr/boleto_pix","barcode":"https://sandbox.bole.to/3/kekdrr/barcode","envelope":"https://sandbox.bole.to/3/kekdrr/envelope","letter":"https://sandbox.bole.to/3/kekdrr/letter","line":"https://sandbox.bole.to/3/kekdrr/line","recibo":"https://sandbox.bole.to/3/kekdrr/recibo","carne":"https://sandbox.bole.to/3/kekdrr/carne"},"meta":null,"fine_for_delay":null,"fine_type":0,"fine_percentage":null,"fine_value":null,"days_for_fine":null,"late_payment_interest":null,"interest_type":0,"interest_daily_value":null,"interest_daily_percentage":null,"interest_monthly_percentage":null,"days_for_interest":null,"discount_type":0,"discount_limit_date":null,"discount_value":null,"discount_percentage":null,"days_for_revoke":null,"notes":null,"payment_count":1,"bank_billet_account_id":659,"beneficiary_name":"Kivanio
        Pereira Barbosa","beneficiary_cnpj_cpf":"000.233.771-19","beneficiary_address":"Rua
        Quatro, 9, 78058-330","beneficiary_assignor_code":"0001/123322-0","guarantor_name":null,"guarantor_cnpj_cpf":null,"payment_place":"Pagável
        em qualquer banco até a data de vencimento.","instructions":null,"document_date":null,"document_type":"02","document_number":null,"acceptance":"N","processed_our_number":"14000000000000089-8","processed_our_number_raw":"140000000000000898","bank_contract_slug":"caixa-rg","agency_number":"2342","agency_digit":"2","account_number":"0012432","account_digit":"1","extra1":"0123322","extra1_digit":null,"extra2":null,"extra2_digit":null,"line":"10491.23324
        20000.100048 00000.008904 4 91410000112040","our_number":"000000000000089","customer_subscription_id":null,"installment_total":3,"installment_number":2,"installment_id":15265,"carne_url":"https://sandbox.bole.to/3/kekdrr/carne","bank_billet_layout_id":null,"created_at":"2022-02-22T14:30:51-03:00","updated_at":"2022-02-22T14:30:51-03:00","tags":[],"tag_list":null,"document_type_label":"DM","addons":null,"ignore_email":false,"ignore_sms":false,"sue_code":null,"revoke_code":null,"first_instruction":null,"second_instruction":null,"guarantor_address_number":null,"guarantor_neighborhood":null,"guarantor_phone_number":null,"guarantor_city_name":null,"guarantor_state":null,"guarantor_zipcode":null,"guarantor_address":null,"guarantor_address_complement":null,"barcode":"10494914100001120401233220000100040000000890","registered_at":null,"prevent_registration":false,"customer_id":93340,"control_number":null,"divergent_payment_type":null,"divergent_payment_value_type":null,"divergent_payment_maximum_value":null,"divergent_payment_minimum_value":null,"divergent_payment_maximum_percentage":null,"divergent_payment_minimum_percentage":null,"divergent_payment_limit":null,"days_for_discount":null,"days_for_second_discount":null,"second_discount_percentage":null,"second_discount_value":null,"days_for_third_discount":null,"third_discount_percentage":null,"third_discount_value":null,"days_for_sue":null,"days_for_negativation":null,"interest_percentage":null,"interest_value":null,"interest_days_type":0,"customer_contact_person":null,"custom_attachment_name":null,"split_payment":false,"dispatch_type":1,"charge_type":1,"custom_data":null,"issued_at":"2022-02-22T14:30:51-03:00","shorten_url":"https://sandbox.bole.to/3/kekdrr","pix_enabled":false,"pix_qrcode":null,"password_protected_mode":null,"revoked_at":null},{"id":472532,"expire_at":"2022-09-15","paid_at":null,"description":"Hospedagem","status":"opened","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"18.033.842/0001-05","customer_address":"Rua
        quinhentos","customer_state":"RJ","customer_neighborhood":"Sao Francisco","customer_zipcode":"12312123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@example.com","customer_email_c[...]
