---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/installments/2?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '489'
      Location:
      - https://sandbox.boletosimples.com.br/api/v1/installments/2
      Etag:
      - W/"296f143a826422c7fc46ecae2f461b5c"
    body:
      encoding: UTF-8
      string: '{"id":2,"amount":1120.4,"cycle":"monthly","start_at":"2016-09-15","end_at":"2016-11-16","instructions":null,"customer_id":11,"description":"Hospedagem","created_at":"2016-08-15","updated_at":"2016-08-15","created_via_api":true,"total":3,"bank_billet_account_id":12,"status":"processed"}'
  recorded_at: Mon, 15 Aug 2016 19:16:34 GMT
recorded_with: VCR 2.9.3
