---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/remittances?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      Total:
      - '1'
      Etag:
      - W/"895aedce469530ceac59ec2bf17eb5b3"
    body:
      encoding: UTF-8
      string: '[{"id":1,"filename":"0806201501.REM","created_via_api":false,"status":"processed","bank_billet_account_id":10,"created_at":"2015-06-08","processed_at":"2015-06-09","url":"https://sandbox.boletosimples.com.br/api/v1/remittances/1/raw"}]'
  recorded_at: Mon, 24 Aug 2015 18:00:12 GMT
recorded_with: VCR 2.9.3
