---
http_interactions:
  - request:
      method: get
      uri: https://api-sandbox.kobana.com.br/v1/remittances
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer BOLETOSIMPLES_API_TOKEN
    response:
      status:
        code: 200
        message: OK
      headers:
        Per-Page:
          - '50'
        Page:
          - ''
        Content-Type:
          - application/json; charset=utf-8
        X-Ratelimit-Limit:
          - '60'
        X-Ratelimit-Remaining:
          - '48'
        Etag:
          - W/"c6dffee977e49ac44b9150d254522678"
      body:
        encoding: UTF-8
        string:
          '[{"id":2350,"filename":"2104131.REM","created_via_api":false,"status":"processed","bank_billet_account_id":3547,"created_at":"2021-04-13T09:30:38-03:00","processed_at":"2021-04-13T09:30:39-03:00","url":"https://sandbox.boletosimples.com.br/remessas/0636d86fb51bd17d3f65c73e20b87ecd/download","bank_billet_ids":[382118,382118,382119,382120,382121,382122,382261,382262,382263,382264,382264],"remittance_number":3,"sent_via_integration":null,"bank_billet_remittances":[{"id":347978,"our_code":"1002","occurrence":"02","remittance_id":2350,"bank_billet_id":382118,"bank_billet_account_id":3547,"processed_at":"2021-04-13T09:30:40-03:00","occurrence_detail":"Pedido
          de Baixa","created_at":"2021-04-12T11:51:09-03:00"},{"id":347979,"our_code":"1001","occurrence":"01","remittance_id":2350,"bank_billet_id":382118,"bank_billet_account_id":3547,"processed_at":"2021-04-13T09:30:40-03:00","occurrence_detail":"Entrada
          de Título","created_at":"2021-04-12T11:51:10-03:00"},{"id":347980,"our_code":"1001","occurrence":"01","remittance_id":2350,"bank_billet_id":382119,"bank_billet_account_id":3547,"processed_at":"2021-04-13T09:30:40-03:00","occ[...]
