---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Per-Page:
      - '50'
      Page:
      - ''
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '57'
      Etag:
      - W/"79dff2ec4de21708e6553fcf54b023e6"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":1941,"url":"https://iagro.herokuapp.com/callbacks/boletosimples","content_type":"application/json","events":["bank_billet.*"],"ssl_verification_enabled":true,"active":true,"secret_key":"fa0bcbf2929b402fd485b9150b1cabfede36b9817ffc00512b8b32f75e2919cf","bank_billet_account_id":659,"concurrency_limit":10},{"id":53,"url":"http://requestb.in/1gsu9nc1","content_type":"application/json","events":["*"],"ssl_verification_enabled":true,"active":true,"secret_key":"17ac7d44600e4a09388f81c3f9ed21926a70f562dd31c7a70e58aced4719fe1e","bank_billet_account_id":659,"concurrency_limit":10}]'
  recorded_at: Tue, 22 Feb 2022 17:30:43 GMT
recorded_with: VCR 6.0.0
