---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/webhooks?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '492'
      Total:
      - '1'
      Etag:
      - W/"e37218891cd4584530ca6b91573d338e"
    body:
      encoding: UTF-8
      string: '[{"id":48,"url":"https://example.com","content_type":"application/json","events":["*"],"ssl_verification_enabled":true,"active":true}]'
  recorded_at: Mon, 24 Aug 2015 18:19:42 GMT
recorded_with: VCR 2.9.3
