---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Per-Page:
      - '50'
      Page:
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      Etag:
      - W/"88dbb05d87d7e2af22f847e4896fe83c"
    body:
      encoding: UTF-8
      string: '[{"id":3888,"url":"https://reqbs.herokuapp.com/r0b6mqr0?inspect","content_type":"application/json","events":["bank_billet.*"],"ssl_verification_enabled":true,"active":true,"secret_key":"7d467d0d0902c2052961282bdb7b688472f808ceb2a2192f4377bcd103de2d80","bank_billet_account_id":null,"concurrency_limit":10}]'
  recorded_at: Tue, 13 Apr 2021 17:18:29 GMT
recorded_with: VCR 6.0.0
