---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=BOLETOSIMPLES_APP_ID&client_secret=BOLETOSIMPLES_APP_SECRET&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"eebc65ccdc3c98e274ced77efeb71a8a"'
    body:
      encoding: UTF-8
      string: '{"access_token":"ec1be386aa3ffc2f4bc0065ad6a56c72fb524276a3fb83f20ebb96bd212c5288","token_type":"bearer","scope":"login","created_at":1423548633}'
  recorded_at: Tue, 10 Feb 2015 06:10:34 GMT
recorded_with: VCR 2.9.3
