---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"BOLETOSIMPLES_APP_ID","client_secret":"BOLETOSIMPLES_APP_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8eefa19fc4751fc6480c046e90ccd10"
    body:
      encoding: UTF-8
      string: '{"access_token":"xxx","token_type":"bearer","scope":"login","created_at":1425844822}'
  recorded_at: Sun, 08 Mar 2015 20:00:22 GMT
recorded_with: VCR 2.9.3
