---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/discharges
    body:
      encoding: UTF-8
      string: '{"discharge":{"content":""}}'
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '981'
    body:
      encoding: UTF-8
      string: '{"errors":{"content":["não pode ficar em branco"],"filename":["não
        pode ficar em branco"]}}'
  recorded_at: Tue, 13 Apr 2021 17:18:49 GMT
recorded_with: VCR 6.0.0
