---
http_interactions:
- request:
    method: post
    uri: https://sandbox.boletosimples.com.br/api/v1/discharges
    body:
      encoding: UTF-8
      string: '{"discharge":{}}'
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '982'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"discharge não pode ficar em branco","status":422,"code":422}]}'
  recorded_at: Tue, 13 Apr 2021 17:18:48 GMT
recorded_with: VCR 6.0.0
