---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v1/discharges
    body:
      encoding: UTF-8
      string: '{"discharge":{}}'
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '18000'
      X-Ratelimit-Remaining:
      - '17949'
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"discharge não pode ficar em branco","status":422,"code":422}]}'
  recorded_at: Tue, 22 Feb 2022 17:30:49 GMT
recorded_with: VCR 6.0.0
