---
http_interactions:
- request:
    method: get
    uri: https://sandbox.boletosimples.com.br/api/v1/bank_billets?access_token=BOLETOSIMPLES_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="BOLETOSIMPLES_ACCESS_TOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://sandbox.boletosimples.com.br/api/v1/bank_billets?access_token=BOLETOSIMPLES_ACCESS_TOKEN&page=5>;
        rel="last", <https://sandbox.boletosimples.com.br/api/v1/bank_billets?access_token=BOLETOSIMPLES_ACCESS_TOKEN&page=2>;
        rel="next"
      Total:
      - '106'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '497'
      Etag:
      - '"5c736d9b715520f600c921375337e6d2"'
    body:
      encoding: UTF-8
      string: '[{"id":792,"expire_at":"2015-01-02","paid_at":null,"description":"Teste
        de geração de boleto","status":"opened","shorten_url":"http://staging.bole.to/niojavbw","customer_person_type":"individual","customer_person_name":"Fernanda
        Lima","customer_cnpj_cpf":"748.885.399-79","customer_address":null,"customer_state":null,"customer_neighborhood":null,"customer_zipcode":"24360-440","customer_address_number":null,"customer_address_complement":null,"customer_phone_number":null,"customer_email":null,"notification_url":null,"send_email_on_creation":null,"created_via_api":true,"customer_city_name":null,"paid_amount":0.0,"amount":7.2,"parcel":1,"parent_id":null,"all_parcels_ids":[792]},{"id":793,"expire_at":"2015-01-02","paid_at":null,"description":"Teste
        de geração de boleto","status":"opened","shorten_url":"http://staging.bole.to/nioiavbv","customer_person_type":"individual","customer_person_name":"Rodolfo
        Lima","customer_cnpj_cpf":"748.885.399-79","customer_address":null,"customer_state":null,"customer_neighborhood":null,"customer_zipcode":"24360-440","customer_address_number":null,"customer_address_complement":null,"customer_phone_number":null,"custo[...]
