---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/bank_billets?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BOLETOSIMPLES_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api-sandbox.kobana.com.br/api/v1/bank_billets?page=1>; rel="first",
        <https://api-sandbox.kobana.com.br/api/v1/bank_billets?page=1>; rel="prev",
        <https://api-sandbox.kobana.com.br/api/v1/bank_billets?page=3>; rel="next"
      Per-Page:
      - '50'
      Page:
      - '2'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '44'
      Etag:
      - W/"2b5b4d40c2f34b5210f98def5efabf15"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":472585,"expire_at":"2026-03-23","paid_at":null,"description":"","status":"opened","customer_person_name":"Nome
        do Cliente","customer_cnpj_cpf":"125.812.717-28","customer_address":"Rua quinhentos","customer_state":"RJ","customer_neighborhood":"bairro","customer_zipcode":"12312123","customer_address_number":"","customer_address_complement":"","customer_phone_number":null,"customer_email":null,"customer_email_cc":null,"customer_ignore_email":null,"customer_ignore_sms":null,"customer_mobile_local_code":null,"customer_mobile_number":null,"customer_nickname":"","customer_notes":null,"created_via_api":false,"customer_city_name":"Rio
        de Janeiro","paid_amount":0.0,"amount":123.12,"url":"https://sandbox.bole.to/3/ewezro","formats":{"default":"https://sandbox.bole.to/3/ewezro","png":"https://sandbox.bole.to/3/ewezro.png","pdf":"https://sandbox.bole.to/3/ewezro.pdf","boleto_hibrido":"https://sandbox.bole.to/3/ewezro/boleto_hibrido","boleto_pix":"https://sandbox.bole.to/3/ewezro/boleto_pix","barcode":"https://sandbox.bole.to/3/ewezro/barcode","envelope":"https://sandbox.bole.to/3/ewezro/envelope","letter":"https://sandbox.bole.to/3/ewezro/letter","line":"https://sandbox.bole.to/3/ewezro/line","recibo":"https://sandbox.bole.to/3/ewezro/recibo","carne":"https://sandbox.bole.to/3/ewezro/carne"},"meta":null,"fine_for_delay":null,"fine_type":0,"fine_percentage":null,"fine_value":null,"days_for_fine":null,"late_payment_interest":null,"interest_type":0,"interest_daily_value":null,"interest_daily_percentage":null,"interest_monthly_percentage":null,"days_for_interest":null,"discount_type":0,"discount_limit_date":null,"discount_value":null,"discount_percentage":null,"days_for_revoke":null,"notes":null,"payment_count":1,"bank_billet_account_id":659,"beneficiary_name":"Kivanio
        Pereira Barbosa","beneficiary_cnpj_cpf":"000.233.771-19","beneficiary_address":"Rua
        Quatro, 9, 78058-330","beneficiary_assignor_code":"0001/123322-0","guarantor_name":"","guarantor_cnpj_cpf":null,"payment_place":"Pagável
        em qualquer banco até a data de vencimento.","instructions":"","document_date":null,"document_type":"02","document_number":"","acceptance":"N","processed_our_number":"14000000000000140-1","processed_our_number_raw":"140000000000001401","bank_contract_slug":"caixa-rg","agency_number":"2342","agency_digit":"2","account_number":"0012432","account_digit":"1","extra1":"0123322","extra1_digit":null,"extra2":null,"extra2_digit":null,"line":"10491.23324
        20000.100048 00000.014043 5 13940000012312","our_number":"000000000000140","customer_subscription_id":null,"installment_total":50,"installment_number":50,"installment_id":15266,"carne_url":"https://sandbox.bole.to/3/ewezro/carne","bank_billet_layout_id":null,"created_at":"2022-02-22T14:41:14-03:00","updated_at":"2022-02-22T14:41:19-03:00","tags":[],"tag_list":null,"document_type_label":"DM","addons":null,"ignore_email":false,"ignore_sms":false,"sue_code":null,"revoke_code":null,"first_instruction":null,"second_instruction":null,"guarantor_address_number":null,"guarantor_neighborhood":null,"guarantor_phone_number":null,"guarantor_city_name":null,"guarantor_state":null,"guarantor_zipcode":null,"guarantor_address":null,"guarantor_address_complement":null,"barcode":"10495139400000123121233220000100040000001404","registered_at":null,"prevent_registration":false,"customer_id":43,"control_number":null,"divergent_payment_type":null,"divergent_payment_value_type":null,"divergent_payment_maximum_value":null,"divergent_payment_minimum_value":null,"divergent_payment_maximum_percentage":null,"divergent_payment_minimum_percentage":null,"divergent_payment_limit":null,"days_for_discount":null,"days_for_second_discount":null,"second_discount_percentage":null,"second_discount_value":null,"days_for_third_discount":null,"third_discount_percentage":null,"third_discount_value":null,"days_for_sue":null,"days_for_negativation":null,"interest_percentage":null,"interest_value":null,"interest_days_type":0,"customer_contact_person":"","custom_attachment_name":"","split_payment":false,"dispatch_type":1,"charge_type":1,"custom_data":null,"issued_at":"2022-02-22T14:41:14-03:00","shorten_url":"https://sandbox.bole.to/3/ewezro","pix_enabled":false,"pix_qrcode":null,"password_protected_mode":null,"revoked_at":null,"bank_billet_discharges":[],"bank_billet_remittances":[{"id":434033,"our_code":"1001","occurrence":"01","remittance_id":null,"bank_billet_id":472585,"bank_billet_account_id":659,"processed_at":null,"occurrence_detail":"Entrada
        de Título","created_at":"2022-02-22T14:41:20-03:00"}],"bank_billet_payments":[],"bank_billet_registrations":[],"bank_billet_split_accounts":[],"pix":[]},{"id":472584,"expire_at":"2026-02-23","paid_at":null,"description":"","status":"opened","customer_person_name":"Nome
        do Cliente","customer_cnpj_cpf":"125.812.717-28","customer_address":"Rua quinhentos","customer_state":"RJ","customer_neighborhood":"bairro","customer_zipcode":"12312123","customer_address_number":"","customer_address_complement":"","customer_phone_number":null,"customer_email":null,"customer_email_cc":null,"customer_ignore_email":null,"customer_ignore_sms":null,"custom[...]
